.dark header,
.dark .card-details-area,
.dark input,
.dark select,
.dark .back {
	background-color: hsl(209, 23%, 22%);
	transition: all 0.8s ease;
}

.dark select,
.dark .light-mode,
.dark h1,
.dark .country-name,
.dark .card-detail,
.dark .selected-county-name,
.dark .selected-county-detail-title,
.dark .border-countries-detail-title,
.dark .back,
.dark .selected-country-detail-title {
	color: white;
	transition: all 0.8s ease;
}

.mode-btn-container {
	display: flex;
	flex-grow: 1;
	justify-content: end;
}

.light-mode-btn-container,
.dark-mode-btn-container {
	display: flex;
	flex-grow: 1;
	justify-content: end;
	align-items: center;
}

.light-mode-btn-container {
	display: none;
	color: white;
}

.light-mode-img {
	width: 25px;
	margin-right: 5px;
}


.dark-mode-img {
	width: 30px;
	margin-right: -7px;
}

.dark-mode {
	height: 50px;
	border: 0px;
	background-color: transparent;

}

.dark {
	background-color: hsl(207, 26%, 17%);
	transition: all 0.8s ease;
}

.dark2 {
	background-color: hsl(209, 23%, 22%);
	transition: all 0.8s ease;
}